#login-page
	width 1000px !important
	margin-top 10px

	.left-container
		padding 14px

		.login-wrapper, .more-wrapper
			width 350px

			.wrapper
				position relative
				width 100%
				background-color #F8F8F8
				border 1px solid #E7E7E7
				border-radius 4px

				.alert
					margin 15px 19px 7px 14px !important

				form
					margin 15px 0

				table
					font-size 15px
					width 90%
					margin 0 auto

					tr
						td
							height 42px

						td:first-child
							width 100px

						label
							color #666666

						.radio-label:last-child
							margin 0 0 0 5px

						.radio-label
							margin 0 16px 0 5px

						input[type="text"], input[type="password"]
							width 100%

						button
							float right


		.login-wrapper
			position relative
			z-index 200

		.more-wrapper
			position relative
			z-index 100
			top -172px


	.right-container
		margin-right 23px
		padding 14px
		position relative
		top -14px
		width 590px

		img
			display block
			width 100%
			margin-bottom 20px

		.mission
			margin-top 20px

			.title
				color #0096D6
				font-size 19px


